  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  body {
      background: linear-gradient(to right, #111827, #111827);
  }

  nav {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 20px;
  }

  nav a {
      text-decoration: none;
      margin: 7px 10px;
      font-family: 'Poppins', sans-serif;
      color: white;
      padding: 10px;
      border-radius: 20px;
      font-weight: bold;

  }



  input {
      display: flex;
      align-items: center;
      margin: 40px auto;
      width: 25%;
      height: 40px;
      border-radius: 10px;
      font-size: 20px;
      padding-left: 10px;
  }